:root {
    --font-family-text: -apple-system, "IBM Plex Sans", ".SFNSText-Regular", "San Francisco",
        "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial,
        sans-serif;
    --font-family-monospace: "Fira Code", Monaco, Menlo, Consolas, "Lucida Console",
        "Courier New", monospace;
    --font-family-heading: "Roboto Slab", var(--font-family-text);
}
